@keyframes profiling_btn_up {
    0% {
        transform: rotate(-210deg);
    }
    70% {
        transform: rotate(30deg);
    }
    80% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(30deg);
    }
    95% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

@keyframes profiling_btn_down {
    0% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(-210deg);
    }
}
