$color_bgc-disabled: #DFDFDF;
$color_bgc-neutral: #333;
$color_bgc-accent: #FF6F3C;
$color_bgc-success: #99CA53;
$color_bgc-error: #E3352C;
$color_bgc-footer-btn: #09998F;

$border-radius: 5px;