@import 'variables';
@import '../variables';
@import 'animations';

.btn {
    display: inline-block;
    background-color: $color_bgc-neutral;
    color: #FFF;
    border: none;
    border-radius: $border-radius;
    padding: 5px 10px;
    transition: box-shadow .5s ease;

    &:disabled {
        cursor: not-allowed;
    }

    &:not(:disabled):not(.btn_plain):hover {
        box-shadow: inset 0 -20px 20px -20px rgba(#000000,.25);
        color: #FFF;
    }

    &:focus {
        outline: none;
    }

    &:disabled {
        background-color: $color_bgc-disabled;
    }

    &_success {
        background-color: $color_bgc-success;
    }

    &_error {
        background-color: $color_bgc-error;
    }

    &_accent {
        padding: 10px 20px 5px;
        font-family: $font-family_advanced_bold;
        font-size: 20px;
        color: $color_base-inverse;
        background-color: $color_accent;
        transition: color .5s ease, background-color .5s ease;

        &:hover {
            background-color: darken($color_accent, 12.5%);
            color: $color_base-inverse;
        }
    }

    &_inverse.btn {
        background-color: rgba($color_neutral, 0);
        color: $color_accent;
        border: solid 1px $color_accent;
        border-radius: 0;
        transition: background-color .25s ease, color .25s ease;

        &:hover {
            color: $color_base-inverse;
            background-color: $color_accent;
            box-shadow: none !important;
        }
    }
    
    &_plain {
        background-color: rgba($color_neutral, 0);
        border: none;
        color: $color_base;
        padding: 0;
        border-radius: 0;
    }

    &_menu {
        position: relative;
        width: 23px;
        height: 15px;

        &::before, &::after {
            position: absolute;
            display: block;
            content: '';
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%,-50%);
            transition: transform .25s ease, height .25s ease .25s, border-width .25s ease .25s;
        }

        &::before {
            height: 15px;
            border-top: solid 3px $color_base;
            border-bottom: solid 3px $color_base;
        }

        &::after {
            height: 3px;
            background-color: $color_base;
        }

        &.active {
            &::before, &::after {
                transition: height .25s ease, border-width .25s ease, transform .25s ease .25s;
            }

            &::before {
                height: 1px;
                border-top-width: 1.5px;
                border-bottom-width: 1.5px;
                transform: translate(-50%,-50%) rotate(45deg);
            }

            &::after {
                transform: translate(-50%,-50%) rotate(-45deg);
            }
        }
    }

    &_header-send-request.btn {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 10px 20px 5px;
        font-family: $font-family_advanced;
        font-size: 20px;
        color: $color_base-inverse;
        background-color: $color_accent;
        transition: color .5s ease, background-color .5s ease;

        @media screen and ( max-width: 767px ) {
            font-size: 20px;
        }

        @media screen and ( min-width: 768px ) and ( max-width: 991px ) {
            font-size: 16px;
        }

        @media screen and ( max-width: 991px ) {
            padding-left: 10px;
            padding-right: 10px;
        }

        &:hover {
            background-color: darken($color_accent, 12.5%);
            color: $color_base-inverse;
        }
    }

    &_profiling {
        position: relative;
        width: 77px;
        height: 77px;
        background: #FFF url('/assets/images/profiling_icon.png') no-repeat;
        background-size: cover;
        background-position: center;
        border: none;
        border-radius: 50%;
        transition: opacity .5s ease .5s;
        box-shadow: 0 0 10px #AAA;
        z-index: 1;
        opacity: .25;

        &::after {
            position: absolute;
            content: '';
            top: calc(50% - 1px);
            left: calc(50% - 4px);
            display: block;
            width: 25px;
            height: 2px;
            background-color: #FFF;
            transform-origin: 4px 1px;
            transform: rotate(-210deg);
        }
    }
}