@keyframes preloader_rotate {
    0% {
        // border-color: lighten($color_base, 50%);
        -webkit-transform: rotate(0deg) translate(-50%,-50%);
                transform: rotate(0deg) translate(-50%,-50%);
    }
    20% {
        // border-color: lighten($color_base, 50%);
        -webkit-transform: rotate(72deg) translate(-50%,-50%);
                transform: rotate(72deg) translate(-50%,-50%);
    }
    40% {
        // border-color: lighten($color_base, 75%);
        -webkit-transform: rotate(144deg) translate(-50%,-50%);
                transform: rotate(144deg) translate(-50%,-50%);
    }
    60% {
        // border-color: lighten($color_base, 50%);
        -webkit-transform: rotate(216deg) translate(-50%,-50%);
                transform: rotate(216deg) translate(-50%,-50%);
    }
    80% {
        // border-color: lighten($color_base, 50%);
        -webkit-transform: rotate(288deg) translate(-50%,-50%);
                transform: rotate(288deg) translate(-50%,-50%);
    }
    100% {
        // border-color: lighten($color_base, 50%);
        -webkit-transform: rotate(360deg) translate(-50%,-50%);
                transform: rotate(360deg) translate(-50%,-50%);
    }
}

@keyframes scroll_indication {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    15% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        top: 40%;
        opacity: 0;
    }
    25%, 100% {
        opacity: 0;
    }
}