@mixin block_header_stripe() {
    content: '';
    flex-grow: 1;
    height: 2px;
    margin-left: 5px;
    background-color: $color_accent;
}

@mixin slider_arrow($rotate: 45deg) {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: none;
    background-color: $color_base-inverse;
    border-radius: 50%;
    border: none;
    transform: rotate($rotate);
}