/* цвета */
$color_base: #333;//#171717;
$color_base-inverse: #FFF;
$color_accent: #71b4ff;
$color_neutral: #F7F7F7;
$color_link: #71b4ff;

$color_list-marker: $color_accent;
$color_list-number: $color_accent;

$fonts-path: "/assets/fonts" !default;
$font-family_main: 'PTSans';
$font-family_advanced: 'Bebas Neue';
$font-family_advanced_bold: 'Bebas Neue Bold';


$icomoon-font-family: 'icons';

$icon_twitter: "\e90a";
$icon_vk: "\e90b";
$icon_youtube: "\e90c";
$icon_fb: "\e902";
$icon_ok: "\e905";
$icon_instagram: "\e903";
$icon_viber: "\e906";
$icon_whatsapp: "\e907";
$icon_home: "\e914";
$icon_prev: "\e90e";
$icon_next: "\e90f";
$icon_ruble: "\e90d";
$icon_mail: "\e900";
$icon_phone: "\e901";
$icon_map_marker: "\e904";
$icon_close: "\e915";
$icon_search: "\e909";