@import 'variables';
@import 'animations';
@import 'mixins';

@import 'buttons/buttons.scss';
@import 'inputs/inputs.scss';
@import 'fonts.scss';
@import 'mainpage.scss';
@import 'services.scss';
@import 'portfolio.scss';
@import 'contactspage.scss';
@import 'magnific-popup.scss';
@import 'bootstrap4_grid24_only.scss';
@import 'swiper.min.scss';



HTML, BODY {
    min-height: 100%;
    cursor: default;
    font-family: $font-family_main;
    font-size: 16px;
}

IMG {
    max-width: 100%;
    height: auto !important;
}

P:last-of-type {
    margin-bottom: 0;
}

*:focus {
    outline: none !important;
}

A {
    transition: color .25s ease;

    .block__content &:not(.btn_accent) {
        color: $color_link;
    }

    &:hover/*:not(.btn_accent)*/ {
        text-decoration: none;
        color: darken($color_link, 25%);
    }

    &.link_read-more {
        font-size: 14px;
    }
}

[data-map] {
    position: relative;
    min-height: 415px;
    background-color: $color_neutral;

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        content: 'КАРТА';
        font-weight: 600;
        font-size: 96px;
        color: #FFF;
        text-shadow: 0 0 2px #F0F0F0;
        transform: translate(-50%,-50%);
        z-index: 0;
    }

    & ymaps:not([class$='balloon__tail']) {
        z-index: 1;
    }
}

.preloader {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 9999;

    &__logo {
        max-width: 110px;
        max-height: 90px;
    }

    &__site-name {
        font-family: $font-family_advanced_bold;
        font-size: 52px;
        padding-top: .2em;
    }

    &::before {
        position: absolute;
        content: '';
        width: 175px;
        height: 175px;
        top: 50%;
        left: 50%;
        border: solid 5px lighten($color_base, 67.5%);
        border-top-color: transparent;
        border-radius: 50%;
        opacity: .5;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        -webkit-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
                transform-origin: 0 0;
        -webkit-transition: border 1s ease;
        -o-transition: border 1s ease;
        transition: border 1s ease;
        -webkit-animation: preloader_rotate 2.5s infinite linear;
                animation: preloader_rotate 2.5s infinite linear;
    }
}

.header {
    background-color: #FFF;
    z-index: 9;

    &__mobile-menu-btn-wrap {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    & [class^="icon_"], & [class*=" icon_"] {
        &::before {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            font-size: 18px;
            border-radius: 50%;
            margin-right: 10px;
            background-color: $color_base;
            color: $color_base-inverse;
            
            @media screen and ( max-width: 767px ) {
                width: auto;
                height: auto;
                font-size: 15px;
                margin-right: 8px;

                &:not(:first-child) {
                    margin-left: 10px;
                }
            }
        }
    }

    &__phone {
        font-family: $font-family_advanced_bold;
        font-size: 24px;
        background: none;
        color: $color_base;
        box-shadow: none;
        
        @media screen and ( max-width: 767px ) {
            font-size: 20px;
            color: $color_base-inverse;
            
            &s-mobile-wrap {
                margin-bottom: -.225em;
            }
        }
        
        @media screen and ( min-width: 768px ) {
            margin-bottom: -.225em;
        }
        
        &:hover {
            color: $color_accent !important;
        }

        &s {
            align-items: center;
            justify-content: flex-end;
        }

        &-wrap {
            display: inline-flex;
            align-items: center;
            justify-content: flex-end;
        }
    }

    &__logo {
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 110px;
        max-height: 70px;
        
        @media screen and ( max-width: 767px ) {
            max-width: 80px;
            max-height: 50px;
        }

        &-wrap {
            display: flex;
            align-items: center;

            /*
            @media screen and ( max-width: 767px ) {
                padding-left: 0;
                justify-content: flex-end;
            }
            */

            & .header__logo-link {
                display: flex;
                color: $color_base;
            }
        }
    }

    &__site-name {
        font-family: $font-family_advanced_bold;
        font-size: 52px;
        padding-top: .2em;

        @media screen and ( max-width: 767px ) {
            font-size: 34px;
        }
    }

    &__slogan {
        font-family: $font-family_advanced;
        font-size: 16px;
        margin-left: 20px;
        padding-left: 20px;
        padding-top: .25em;
        border-left: solid 1.5px $color_base;

        @media screen and ( max-width: 767px ) {
            font-size: 14px;
            margin-left: 10px;
            padding-left: 10px;
            line-height: 1;
        }
    }

    &__panel {
        &_top {
            background-color: $color_base-inverse;
        }

        &_bottom {
            position: relative;
            background-color: $color_base;

            & .container {
                display: flex;
                align-items: center;
                justify-content: space-between;

                @media screen and ( max-width: 767px ) {
                    padding-right: 0;
                }
            }
        }
    }

    &__nav {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        @media screen and ( max-width: 767px ) {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            padding: 30px 15px;
            flex-direction: column;
            background-color: $color_base;
            transition: transform .5s ease;

            &.d-none {
                display: flex !important;
                transform: translateX(150%);
            }
        }

        &-wrap {
            flex-grow: 1;
            padding-top: 10px;
            padding-bottom: 5px;
        }

        &-item {
            font-family: $font-family_advanced;
            font-size: 20px;

            @media screen and ( min-width: 768px ) and ( max-width: 991px ) {
                font-size: 16px;
            }

            & + & {
                @media screen and ( max-width: 767px ) {
                    margin-top: 15px;
                }

                @media screen and ( min-width: 768px ) and ( max-width: 991px ) {
                    margin-left: 20px;
                }
                
                @media screen and ( min-width: 992px ) {
                    margin-left: 30px;
                }
            }
        }

        &-link {
            color: $color_base-inverse;

            &:hover {
                color: $color_accent !important;
            }
        }
    }
}

main {
    BODY:not(.contacts-page) & {
        margin-bottom: 50px;
    }

    BODY:not(.mainpage) & {
        margin-top: 20px;
    }
}

.footer {
    background-color: #171717;
    color: #FFF;
    padding: 30px 0;
    font-family: $font-family_advanced;
    font-size: 20px;

    &__phone {
        display: inline-flex;
        align-items: center;
        color: $color_base-inverse;

        &::before {
            margin-top: -.2em;
            margin-right: 10px;
        }

        &:hover {
            color: $color_accent !important;
        }
    }

    &__contacts {
        @media screen and ( max-width: 767px ) {
            margin-top: 20px;
        }
    }

    &__copyrights {
        @media screen and ( max-width: 767px ) {
            margin-top: 20px;
        }
    }
}

.block {
    & + & {
        margin-top: 20px;
    }

    &:not(.block_without-border) {
        & .block__header, & .block__content:not([data-map]), & .block__footer {
            border: solid 1px lighten($color_base, 70%);
            padding-left: 40px;
            padding-right: 40px;

            @media screen and ( max-width: 767px ) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        & .block__header {
            border-bottom: none !important;
            padding-top: 40px;
            padding-bottom: 0;

            @media screen and ( max-width: 767px ) {
                text-align: center;
                padding-top: 20px;
            }
        }

        & .block__content:not([data-map]) {
            padding-bottom: 40px;
            
            @media screen and ( max-width: 767px ) {
                padding-bottom: 20px;
            }
        }
    }

    &__header {
        position: relative;
        font-family: $font-family_advanced;
        font-weight: 700;
        line-height: 1.15;
        margin-bottom: 0;
        color: #666;

        &:not(h1) {
            font-size: 30px;
        }

        /*
        &::after {
            position: absolute;
            content: '';
            top: 100%;
            left: 0;
            width: 100px;
            height: 3px;
            background-color: $color_accent;
        }
        */

        .text-center &::after, &.text-center::after {
            left: 50%;
            transform: translateX(-50%);
        }

        &:not(h1) + .block__content {
            border-top: none !important;
            padding-top: 20px;
        }
    }

    &__content {
        text-align: justify;

        & p {
            text-indent: 2em;
        }

        & ul, & ol {
            list-style: none;

            & li {
                position: relative;
            }
        }

        & ul:not(.pagination) {
            & > li {
                padding-left: 15px;

                &::before {
                    position: absolute;
                    content: '●';
                    font-size: 15px;
                    background-color: $color_list-marker;
                    background-image: linear-gradient(135deg, lighten($color_list-marker, 20%), darken($color_list-marker, 20%));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    left: -16px;
                }
            }
        }

        & ol {
            counter-reset: list-counter;
            padding-left: 55px;

            & > li {
                counter-increment: list-counter;

                &::before {
                    position: absolute;
                    content: counter(list-counter) ".";
                    background-color: $color_list-marker;
                    background-image: linear-gradient(135deg, lighten($color_list-marker, 20%), darken($color_list-marker, 20%));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    left: -30px;
                    font-weight: 700;
                }
            }
        }

        & ul ol, & ol ol {
            padding-left: 30px;
        }

        & ol ul, & ul ul {
            padding-left: 15px;
        }
    }

    &__footer {
        position: relative;
        padding-bottom: 40px;

        & * {
            position: relative;
            z-index: 1;
        }

        .block__content + & {
            border-top: none !important;
        }

        h1.block__header + .block__content + & {
            margin-top: 20px;
        }

        .block__header:not(h1) + .block__content:not([data-map]) + & {
            margin-top: -20px;

            &::before {
                position: absolute;
                content: '';
                top: 19px;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #fff;
                z-index: 0;
            }
        }

        @media screen and ( max-width: 767px ) {
            padding-bottom: 20px;

            .block__content:not([data-map]) + & {
                margin-top: -10px;

                &::before {
                    top: 9px;
                }
            }
        }
    }
}

.tile {
    &-wrap:not(.swiper-slide) {
        margin-top: 7.5px;
        margin-bottom: 7.5px;
    }
}

.form {
    &__row {
        & + & {
            margin-top: 20px;
        }
    }
}

.breadcrumbs {
    position: relative;
    list-style: none;
    margin-bottom: 40px;
    white-space: nowrap;
    overflow: hidden;

    &::after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        width: 37.5px;
        height: 100%;
        background-image: linear-gradient(to right, rgba($color_base-inverse, 0), $color_base-inverse 80%);
        z-index: 1;
    }

    @media screen and ( max-width: 767px ) {
        margin-bottom: 30px;
    }

    &__item {
        display: inline-block;
        
        & + & {
            margin-left: 10px;
        }

        &.active {
            color: lighten($color_base, 37.5%);
        }

        &_home .icon_home {
            position: relative;
            bottom: -.125em;
        }
    }

    &__link {
        color: $color_base;

        &:hover {
            color: $color_accent;
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style-type: none;

    &__item {
        font-size: 18px;
        line-height: 0;
        margin: 0 10px;

        &.control {
            & .pagination__link {
                font-size: 10px;
                font-weight: 400;
            }
        }

        &.active {
            font-size: 24px;
            color: $color_accent;
            font-weight: 800;
        }
    }

    & &__link {
        font-size: 18px;
        line-height: 1;
        font-weight: 600;

        &:hover {
            color: $color_accent;
        }
    }
}

.profiling {
    position: fixed;
    right: 25px;
    bottom: 25px;
    font-size: 0;

    &__info {
        position: absolute;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
        padding: 10px;
        bottom: 0;
        right: 50%;
        padding-left: 25px;
        padding-right: 55px;
        border-top-left-radius: 45px;
        border-bottom-left-radius: 45px;
        opacity: 0;
        max-width: .1px;
        overflow: hidden;
        transition: max-width .5s ease, opacity .5s ease;
        box-shadow: 0 0 10px #aaa;
        white-space: nowrap;
        background-color: #fff;
        font-size: 12px;

        &-label {
            font-weight: 800;
        }
    }

    & .btn_profiling::after {
        animation: profiling_btn_down 1s ease-out;
    }
        
    &:hover .btn_profiling {
        opacity: 1;
        transition: opacity .5s ease 0 !important;

        &::after {
            animation: profiling_btn_up 1s ease-in;
            animation-fill-mode: forwards;
        }
    }

    &:hover &__info {
        max-width: 231.5px;
        transition: max-width .5s ease .625s, opacity .5s ease .625s;
        opacity: 1;
    }
}

.swiper {
    &-container {
        .swiper-button {
            &-prev, &-next {
                opacity: .25;
                transition: opacity .5s ease;
                
                &::after {
                    content: '';
                }

                &::before {
                    font-family: $icomoon-font-family;
                    font-size: 40px;
                    color: $color_base-inverse;
                }

                &:hover {
                    opacity: .75;
                }
            }

            &-prev {
                left: 2.5%;

                &::before {
                    content: $icon_prev;
                }
            }

            &-next {
                right: 2.5%;

                &::before {
                    content: $icon_next;
                }
            }
        }

        .swiper-pagination-bullet-active {
            background: $color_accent;
        }

        .slide-content {
            position: absolute;
            width: 90%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: #FFF;
            z-index: 1;

            &__header, &__descr {
                text-shadow: 0 0 2px #000;
            }

            &__header {
                font-size: 3rem;

                & + .slide-content__descr {
                    margin-top: 10px;
                }
            }

            &__descr {
                font-size: 15px;
                line-height: 1.6;

                & + .slide-content__buttons {
                    margin-top: 10px;
                }
            }
        }

        &:not(#mainpage_slider) .swiper-pagination {
            position: relative;
            bottom: 0;
            margin-top: 10px;
        }
    }
}

.popup {
    background-color: #FFF;
    
    &__header, &__content, &__footer {
        padding: 15px;
    }

    &__header {
        position: relative;
        border-bottom: solid 1px #e5e5e5;
        font-size: 19px;
        font-weight: 500;
        padding-left: 44px;
        padding-right: 44px;
        text-align: center;

        @media screen and ( max-width: 767px ) {
            font-size: 14px;
        }

        & .mfp-close, & .mfp-close:active {
            top: 50%;
            right: 0;
            transform: translate(0,-50%);
        }
    }

    &__footer {
        border-top: solid 1px #e5e5e5;
    }
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom {
    &.mfp-ready .mfp-container {
        opacity: 1;
    }

    &.mfp-ready.mfp-bg {
        opacity: .8;
    }

    &.mfp-removing .mfp-container, &.mfp-removing.mfp-bg {
        opacity: 0;
    }
}

.mfp-arrow {
    opacity: .25;

    &-left, &-right {
        &::before {
            font-family: $icomoon-font-family;
            font-size: 30px;
            color: $color_base-inverse;
            border: none;
        }

        &::after {
            display: none;
        }
    }

    &-left {
        &::before {
            content: '\e90e';
        }
    }

    &-right {
        &::before {
            content: '\e90f';
        }
    }
}

.message {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border-left: solid 3px #3E4C4A;

    &_warning {
        border-color: $color_accent;
    }
}