@import "variables";

@font-face {
	font-family: 'Bebas Neue Bold';
	src: url('#{$fonts-path}/Bebas/BebasNeueBold.eot');
	src: url('#{$fonts-path}/Bebas/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
		 url('#{$fonts-path}/Bebas/BebasNeueBold.woff2') format('woff2'),
		 url('#{$fonts-path}/Bebas/BebasNeueBold.woff') format('woff'),
		 url('#{$fonts-path}/Bebas/BebasNeueBold.ttf') format('truetype'),
		 url('#{$fonts-path}/Bebas/BebasNeueBold.svg#BebasNeueBold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('#{$fonts-path}/Bebas/BebasNeueRegular.eot');
	src: url('#{$fonts-path}/Bebas/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
		 url('#{$fonts-path}/Bebas/BebasNeueRegular.woff2') format('woff2'),
		 url('#{$fonts-path}/Bebas/BebasNeueRegular.woff') format('woff'),
		 url('#{$fonts-path}/Bebas/BebasNeueRegular.ttf') format('truetype'),
		 url('#{$fonts-path}/Bebas/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: ptsans;
    src: url('#{$fonts-path}/PTSans/ptsans.eot');
    src: url('#{$fonts-path}/PTSans/ptsans.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts-path}/PTSans/ptsans.woff2') format('woff2'),
         url('#{$fonts-path}/PTSans/ptsans.woff') format('woff'),
         url('#{$fonts-path}/PTSans/ptsans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: local('Open Sans Light'), local('OpenSans-Light'), url('#{$fonts-path}/OpenSans/opensans-light.woff2') format('woff2'), url('#{$fonts-path}/OpenSans/opensans-light.woff') format('woff'), url('#{$fonts-path}/OpenSans/opensans-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('#{$fonts-path}/OpenSans/opensans.woff2') format('woff2'), url('#{$fonts-path}/OpenSans/opensans.woff') format('woff'), url('#{$fonts-path}/OpenSans/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans SemiBold';
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('#{$fonts-path}/OpenSans/opensans-semibold.woff2') format('woff2'), url('#{$fonts-path}/OpenSans/opensans-semibold.woff') format('woff'), url('#{$fonts-path}/OpenSans/opensans-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: '#{$icomoon-font-family}';
    src : url('#{$fonts-path}/#{$icomoon-font-family}/#{$icomoon-font-family}.eot?sk18an');
    src : url('#{$fonts-path}/#{$icomoon-font-family}/#{$icomoon-font-family}.eot?sk18an#iefix') format('embedded-opentype'),
    url('#{$fonts-path}/#{$icomoon-font-family}/#{$icomoon-font-family}.ttf?sk18an') format('truetype'),
    url('#{$fonts-path}/#{$icomoon-font-family}/#{$icomoon-font-family}.woff?sk18an') format('woff'),
    url('#{$fonts-path}/#{$icomoon-font-family}/#{$icomoon-font-family}.svg?sk18an##{$icomoon-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon_"]:before,
[class*=" icon_"]:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon_twitter {
    &:before {
        content: $icon_twitter;
    }
}

.icon_vk {
    &:before {
        content: $icon_vk;
    }
}

.icon_youtube {
    &:before {
        content: $icon_youtube;
    }
}

.icon_fb {
    &:before {
        content: $icon_fb;
    }
}

.icon_ok {
    &:before {
        content: $icon_ok;
    }
}

.icon_instagram {
    &:before {
        content: $icon_instagram;
    }
}

.icon_viber {
    &:before {
        content: $icon_viber;
    }
}

.icon_whatsapp {
    &:before {
        content: $icon_whatsapp;
    }
}

.icon_home {
    &:before {
        content: $icon_home;
    }
}

.icon_prev {
    &:before {
        content: $icon_prev;
    }
}

.icon_next {
    &:before {
        content: $icon_next;
    }
}

.icon_ruble {
    &:before {
        content: $icon_ruble;
    }
}

.icon_mail {
    &:before {
        content: $icon_mail;
    }
}

.icon_phone {
    &:before {
        content: $icon_phone;
    }
}

.icon_map_marker {
    &:before {
        content: $icon_map_marker;
    }
}

.icon_close {
    &:before {
        content: $icon_close;
    }
}

.icon_search {
    &:before {
        content: $icon_search;
    }
}