@import 'variables';
@import 'animations';

#mainpage_slider {
    position: relative;

    & .icon_scroll-down {
        position: absolute;
        width: 5%;
        left: 50%;
        bottom: 2.5%;
        transform: translateX(-50%);
        z-index: 9;

        @media screen and ( max-width: 1199px ) {
            width: 10%;
        }

        &::before {
            position: absolute;
            content: '•';
            top: -5%;
            left: 50%;
            color: $color_accent;
            font-size: 24px;
            line-height: 10px;
            font-weight: bold;
            text-shadow: 0 0 10px $color_accent;
            transform: translateX(-50%);
            animation: scroll_indication 5s linear infinite;
            z-index: 9;

            @media screen and ( max-width: 1199px ) {
                transform: translate(-50%, 100%);
                animation-direction: reverse;
            }
        }

        & img {
            opacity: .75;
            transition: opacity .5s ease;
        }

        &:not(:hover) img {
            opacity: .25;
        }
    }
}

#mainpage_portfolio_slider {
    position: relative;

    &::before, &::after {
        position: absolute;
        content: '';
        width: 40px;
        height: 100%;
        top: 0;
        background-color: $color_base;
        z-index: 2;

        @media screen and ( max-width: 767px ) {
            width: 20px;
        }
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }
}

.mainpage-slider {
    &__image-wrap {
        background-size: cover;
        background-position: center;
        height: 100%;

        &_blur {
            filter: blur(3px);
            height: 105%;
            width: 101%;
            margin-top: -0.5%;
            margin-left: -0.5%;
        }
    }

    &__slide {
        &-info {
            position: absolute;
            top: 42.5%;
            left: 50%;
            width: 80%;
            max-height: 60%;
            transform: translate(-50%,-50%);
            text-align: center;
            font-family: $font-family_main;
            font-weight: bold;
            color: $color_base-inverse;
            text-shadow: 0 0 7.5px darken($color_base, 100%);
            overflow: hidden;
            z-index: 9;

            @media screen and ( min-width: 576px ) {
                max-width: 540px;
            }

            @media screen and ( min-width: 768px ) {
                max-width: 720px;
            }

            @media screen and ( min-width: 992px ) {
                max-width: 960px;
            }

            @media screen and ( min-width: 1200px ) {
                max-width: 1140px;
            }
        }

        &-header {
            font-size: 50px;
            line-height: 1;

            @media screen and ( max-width: 767px ) {
                font-size: 25px;
            }
        }

        &-descr {
            font-size: 30px;
            margin-top: 20px;

            @media screen and ( max-width: 767px ) {
                font-size: 15px;
            }
        }

        &-more-link {
            display: inline-block;
            color: $color_base-inverse;
            margin-top: 10px;
            opacity: .5;
            transition: opacity .5s ease, color .5s ease;

            &:hover {
                opacity: 1;
                color: $color_accent !important;
            }
        }
    }
}

.block {
    &_dark {
        background-color: $color_base;

        & .block__header, & .block__content {
            color: $color_base-inverse;
            border: none !important;
        }
    }

    &_matching {
        background-image: url('/assets/images/matching_block_bg.jpg');
        background-position: calc(100% - 7.5px) bottom;
        background-size: auto 100%;
        background-repeat: no-repeat;

        & .block__content {
            border-bottom: none !important;
        }

        & .block__footer::before {
            display: none;
        }
    }

    &__content {
        .working-process {
            display: flex;
            justify-content: space-between;
            padding-left: 0;

            &__item {
                position: relative;

                @media screen and ( max-width: 991px ) {
                    & + .working-process__item {
                        margin-top: 40px;
                    }
                }

                @media screen and ( min-width: 992px ) {
                    padding-top: 90px;

                    &:nth-child(n + 5) {
                        margin-top: 40px;
                    }

                    &:nth-child(4n) {
                        &::after {
                            display: none;
                        }
                    }
                }

                &::before {
                    position: absolute;
                    content: counter(list-counter);
                    font-family: $font-family_advanced_bold;

                    @media screen and ( max-width: 991px ) {
                        display: none;
                    }

                    @media screen and ( min-width: 992px ) {
                        font-size: 100px;
                        top: 50px;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                }

                &:not(:last-child) {
                    &::after {
                        position: absolute;
                        content: '';
                        top: calc(100% + 5px);
                        width: 20px;
                        height: 20px;
                        right: 50%;
                        transform: scaleY(.75) rotate(135deg) translate(-25%,-25%);
                        border-top: solid 4px $color_accent;
                        border-right: solid 4px $color_accent;
                        
                        @media screen and ( min-width: 992px ) {
                            top: 50%;
                            width: 20px;
                            height: 20px;
                            right: -18%;
                            transform: scaleX(.75) rotate(45deg) translate(-25%,-25%);
                        }
                    }
                }

                &-header {
                    font-weight: bold;
                    text-align: center;
                    font-size: 18px;

                    @media screen and ( min-width: 992px ) {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        min-height: 54px;
                    }
                }

                &-descr {
                    color: lighten($color_base, 50%);
                    text-align: center;
                    font-size: 14px;

                    & P {
                        text-indent: 0;
                    }
                }
            }
        }
    }
}