@import 'variables';


.portfolio-category-tile {
    position: relative;

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__header {
        position: absolute;
        display: inline-block;
        bottom: 20px;
        left: 0;
        padding: 12px 20px 8px;
        background-color: $color_base;
        color: $color_base-inverse;
        font-family: $font-family_advanced;
        font-size: 18px;
        transition: background-color .5s ease;

        .portfolio-category-tile:hover & {
            background-color: $color_accent;
        }
    }
}

.portfolio-tile {
    position: relative;
    
    &__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}