@import 'variables';

textarea {
    resize: vertical;
    min-height: 13.5rem;
    max-height: 27rem;
}

.input {
    border: solid 1px lighten($color_base, 70%);
    box-sizing: border-box;
    padding: calc(5px + .25em) 10px 5px;
    transition: border-color .25s ease, color .25s ease;

    &_funny {
        display: none;
    }

    &_textarea {
        width: 100%;
        min-height: 100px;
        max-height: 200px;
        resize: vertical;
    }

    &.error {
        border-color: $color_error;
    }

    [class^="icon_"] > &,
    [class*=" icon_"] > & {
        padding-right: 35px;
    }

    &-wrap {
        position: relative;

        &[class^="icon_"], &[class*=" icon_"] {
            &::before {
                position: absolute;
                top: 50%;
                // right: 17.5px;
                right: 26px;
                font-size: 18px;
                transform: translateY(-50%);
                transition: color .25s ease;
            }

            &:hover, &:focus {
                &::before {
                    color: $color_accent;
                }
            }
        }

        &.icon_mail::before {
            font-size: 16px;
        }
    }
}

.custom-checkbox-wrap {
    display: inline-block;
    position: relative;
    line-height: 1;
    margin-right: 14px;

    & input[type="checkbox"] {
        vertical-align: bottom;
        opacity: 0;
        z-index: -666;
        border: solid 1px #E8E8E8;

        & + .checkbox_custom {
            position: absolute;
            display: inline-block;
            width: 19px;
            height: 19px;
            left: -1px;
            top: 2px;
            cursor: pointer;

            &::before {
                position: absolute;
                content: '';
                left: 0;
                top: -.35em;
                width: 100%;
                height: 100%;
                border: solid 1px #E8E8E8;
                z-index: 1;
            }
        }

        &:checked + .checkbox_custom {
            &::after {
                position: absolute;
                content: '';
                top: calc(50% - .35em);
                left: 50%;
                width: 12px;
                height: 6px;
                border-left: solid 2px $color_accent;
                border-bottom: solid 2px $color_accent;
                transform: translate(-45%,-70%) rotate(-45deg);
                z-index: 1;
            }
        }
    }
}

.custom-radio {
    &:hover {
        cursor: pointer;

        &::before {
            background-color: lighten($color_accent, 37.5%);
        }
    }

    &::before {
        display: inline-block;
        position: relative;
        content: '';
        left: -2px;
        width: 16px;
        height: 16px;
        border: solid 2px $color_accent;
        background-color: #FFF;
        border-radius: 50%;
        transition: background-color .25s ease;
    }

    &:checked {
        &::before {
            background-color: $color_accent;
        }
    }
}